@import 'https://use.typekit.net/rcr1opg.css';

*,
:before,
:after {
	box-sizing: border-box;

	transition: all 0.2s cubic-bezier(0.8, 0.38, 0.09, 0.82);
}
:before,
:after {
	--tw-content: '';
}

:root {
	--bg-color: rgb(18 24 27);
	--white-color: #fff;
	--card-bg-color: rgb(42 46 53);
	--card-description-color: rgb(178 190 205);
}

[data-theme='light'] {
	--bg-color: #fff;
	--white-color: rgba(3, 3, 20, 0.99);
	--card-bg-color: #fff;
	--card-description-color: rgb(75, 81, 89);
}

body {
	font-family: 'Sofia-pro';
	background-color: var(--bg-color);
	color: var(--white-color);
}

#content {
	margin-bottom: 2rem;
}

#content h1 {
	font-size: 1.8em;
	font-weight: 700;
	margin: 0;
	margin-bottom: 1%;
	margin-top: 4%;
}

#content p {
	font-size: 1.2em;
	font-weight: 400;
	margin: 0;
	margin-bottom: 1%;
	line-height: 1.8;
}

#content p > code {
	background-color: rgba(255, 255, 255, 0.1);
	padding: 0.2em;
}

#content p > a {
	color: #0fe468;
	text-decoration: underline;
}

#content > :last-child {
	margin-bottom: 4%;
}

#content img {
	max-width: 100%;
}

#content blockquote {
	border-left: 0.25em solid #fff;
	padding-left: 1em;
	margin: 1rem 0;
	padding: 1rem;
	background-color: rgb(42 46 53);
}

#content hr {
	border-color: #2a2e35;
}

html {
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	font-family: sofia-pro, sans-serif;
}

aside nav {
	overflow-x: hidden;
}

.toc {
	position: fixed !important;
	right: 0 !important;
}

@media (max-width: 868px) {
	article {
		width: 100% !important;
	}
}

html {
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	font-family: sofia-pro, sans-serif;
	scroll-behavior: smooth;
}
body {
	margin: 0;
	line-height: inherit;
}
hr {
	height: 0;
	color: inherit;
	border-top-width: 1px;
}
abbr:where([title]) {
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
a {
	color: inherit;
	text-decoration: inherit;
}
b,
strong {
	font-weight: bolder;
}
code,
kbd,
samp,
pre {
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New,
		monospace;
	font-size: 1em;
}
small {
	font-size: 80%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
table {
	text-indent: 0;
	border-color: inherit;
	border-collapse: collapse;
}
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	font-weight: inherit;
	line-height: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
}
button,
select {
	text-transform: none;
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
	background-color: transparent;
	background-image: none;
}
:-moz-focusring {
	outline: auto;
}
:-moz-ui-invalid {
	box-shadow: none;
}
progress {
	vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: cubano, sans-serif;
	font-weight: 400;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.2em;
}

li {
	list-style-type: none;
}

article h2 {
	font-size: 1.4rem;
	position: relative;
	margin-top: 2rem;
}

/* article h2::before {
	content: '';
	background: linear-gradient(to right, #0fe468, #49c6ec);
	width: 20%;
	height: 20px;
	position: absolute;
	left: 0;
	bottom: -2px;
	z-index: -2;
} */

/* @media (prefers-color-scheme: dark) {
	html {
		background-color: rgb(18 24 27);
	}
}

@media (prefers-color-scheme: light) {
	body {
		background-color: rgb(255 255 255) !important;
	}
} */
